@font-face {
	font-family: 'DSDIGI';
	src: local('DSDIGI'), url('./DSDIGI.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1091">Text with this font applied</p> */
.fontsforweb_fontid_1091 {
	font-family: 'DSDIGI' !important;
}

/* Font downloaded from FontsForWeb.com */

/* Style the whole page */
body {
  background-color: black;
  color: red;
  font-family: monospace;
  text-align: center;
}

/* Big title */
h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Subtitle */
h2 {
  color: gray;
  font-size: 1.5em;
  margin-top: 0;
}

/* Countdown text */
#countdown {
  font-size: 4em;
  margin-top: 20px;
  letter-spacing: 3px;
}
